*{
    padding: 0;
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #0000ff;
    height: 50px;
}

.navbar-left{
    display: flex;
    position: relative;
}

.navbar-list{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    line-height: 50px;
}

.navbar-list:hover{
    background-color:  #99c2ff;
    .subnav{
        display: block;
    }
}

.subnav{
    background-color: #1a66ff;
    width: 150px;
    color: #fff;
    display: none;
    position: absolute;
    top: 50px;
    /* border: 2px solid #000; */
}

.subnav-item{

    list-style: none;
}
.subnav-item:hover{
    background-color: rgba(0,0,0,0.5);
}
.container{
    width: 100vw;
    height:105vh;
    background-image: url('https://cdn.mos.cms.futurecdn.net/7qYc6jWRZSx5cwCNEw85xj.jpg');
    background-repeat: no-repeat;
    background-size: 100vw auto;
}