*{
    padding: 0;
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #0000ff;
    height: 50px;
}

.navbar-left{
    display: flex;
    position: relative;
}

.navbar-list{
    padding-right: 10px;
    font-size: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    line-height: 50px;
}

.navbar-list:hover{
    background-color:  #99c2ff;
    .subnav{
        display: block;
    }
}

.subnav{
    width: 100px;
    color: black;
    display: none;
    position: absolute;
    top: 50px;
    border: 2px solid #000;
}

.subnav-item{
    list-style: none;
    position: relative;
}
.subnav-item-item{
    display: none;
    list-style: none;
    border: 2px solid black;
    position: absolute;
    right: -76px;
    top:-2px
}
.subnav-child:hover{
    background-color: rgba(0,0,0,0.5);
}
.subnav-item:hover{
    background-color: rgba(0,0,0,0.5);
    .subnav-item-item{
        display: block;
    }
}